# Operating System files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode/*
project.xml
project.properties
.project
.settings*
*.sublime-project
*.sublime-workspace
.sublimelinterrc

vendor/
!_tests/managed_tests/phpstan/with_vendor/woocommerce-product-feeds/vendor
.idea/
src-tmp/
.cache
.phpunit.result.cache
./qit
_tests/managed_tests/**/*.zip
_tests/managed_tests/**/*.txt
dev/
_build/docker/php83/xdebug/*
!_build/docker/php83/xdebug/.gitkeep
!_build/docker/php83/xdebug/README.md
_tests/custom_tests/.env
_tests/custom_tests/tmp_qit_config*
_tests/custom_tests/cache
_tests/custom_tests/tmp/

_tests/custom_tests/.env.staging

_tests/custom_tests/.env.local
