<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/unit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="QIT_CLI">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="DeleteConfigFileListener" file="./tests/unit/DeleteConfigFileListener.php"/>
    </extensions>
</phpunit>