name: Releases

on:
  push:
    tags:
      - '*'

jobs:
  code-tests:
    name: Run code tests
    uses: ./.github/workflows/code-tests.yml
  build:
    needs: [ code-tests ]
    runs-on: ubuntu-latest
    env:
      NO_COLOR: 1
      QIT_DISABLE_ONBOARDING: yes
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          tools: none
          php-version: '7.2'
      - name: Build
        run: make build
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "qit"
          bodyFile: ./docs/changelogs/${{github.ref_name}}.md
          generateReleaseNotes: true
      - name: Basic Validation
        run: ./qit
