name: Self Test Template

on:
  workflow_call:
    inputs:
      test_type:
        required: true
        type: string

    secrets:
      QIT_USER:
        required: true
      QIT_ACCESS_TOKEN:
        required: true

jobs:
  self_test:
    runs-on: ubuntu-20.04
    env:
      NO_COLOR: 1
      QIT_DISABLE_ONBOARDING: yes

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.2'

      - name: Composer install
        working-directory: _tests
        run: composer install

      - name: Connect to QIT
        run: ./qit partner:add -vvv --user=${{ secrets.QIT_USER }} --application_password=${{ secrets.QIT_ACCESS_TOKEN }}

      - name: Run Self-Tests
        id: run-self-tests
        working-directory: _tests
        env:
          QIT_WAIT_BEFORE_REQUEST: yes
        run: php ./QITSelfTests.php run ${{ inputs.test_type }}
